.headofclass
{background-color: aqua;}
/* Checkthefontsize#1 */#number-one{18px;}
/* goal-set #2 */#number-two{color :aqua;}
#margin-choice1{height: 50px;background:aqua
border-box: 7px solid white; margin:1px 1px 1px 1px 1px}